[submodule "www/site/themes/chef"]
	path = www/site/themes/chef
	url = https://github.com/chef/chef-hugo-theme.git
[submodule "www/chef-www"]
	path = www/chef-www
	url = https://github.com/chef/chef-www.git
