<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.chef.workstation.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>20</integer>

    <key>StandardErrorPath</key>
    <string>/opt/chef-workstation/embedded/service/workstation-gui/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/opt/chef-workstation/embedded/service/workstation-gui/stdout.log</string>

    <key>WorkingDirectory</key>
    <string>/opt/chef-workstation/embedded/service/workstation-gui</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/chef-workstation/embedded/service/workstation-gui/config/server.sh</string>
    </array>

  </dict>
</plist>