# Documentation available at https://expeditor.chef.io/docs/getting-started/
---

# The name of the product keys for this product (from mixlib-install)
product_key:
  - chef-workstation

# Slack channel in Chef Software slack to send notifications about build failures, etc
slack:
  notify_channel: chef-ws-notify

github:
  # This deletes the GitHub PR branch after successfully merged into the release branch
  delete_branch_on_merge: true

changelog:
  rollup_header: Changes not yet released to stable

pipelines:
  - verify:
      description: Pull Request validation tests
  - docker/build
  - omnibus/release:
      env:
        - IGNORE_ARTIFACTORY_RUBY_PROXY: true # Artifactory is throwing 500's when downloading some gems like ffi.
  - omnibus/adhoc:
      definition: .expeditor/release.omnibus.yml
      env:
        - ADHOC: true
        - IGNORE_ARTIFACTORY_RUBY_PROXY: true
  - third-party-packages:
      description: post-release publishing of Workstation packages to third party distribution platforms

subscriptions:
  - workload: pull_request_merged:{{github_repo}}:{{release_branch}}:*
    actions:
      - bash:.expeditor/determine_version.sh:
          ignore_labels:
            - "Expeditor: Skip Version Bump"
            - "Expeditor: Skip All"
            - "Aspect: Documentation"
      - built_in:update_changelog:
          ignore_labels:
            - "Expeditor: Skip Changelog"
            - "Expeditor: Skip All"
            - "Aspect: Documentation"
      # The git commit happens here
      - bash:.expeditor/push-git-tag.sh:
          only_if: bash:.expeditor/determine_version.sh
          post_commit: true
      - trigger_pipeline:omnibus/release:
          ignore_labels:
            - "Expeditor: Skip Omnibus"
            - "Expeditor: Skip All"
            - "Aspect: Documentation"
          only_if: bash:.expeditor/determine_version.sh
  - workload: artifact_published:unstable:chef-workstation:{{version_constraint}}
    actions:
      - trigger_pipeline:docker/build
  - workload: artifact_published:current:chef-workstation:{{version_constraint}}
    actions:
      - built_in:promote_docker_images
  - workload: project_promoted:{{agent_id}}:*
    actions:
      - built_in:promote_artifactory_artifact
  - workload: artifact_published:stable:chef-workstation:{{version_constraint}}
    actions:
      - built_in:rollover_changelog
      - bash:.expeditor/update_dockerfile.sh
      - bash:.expeditor/publish-release-notes.sh
      - bash:.expeditor/announce-release.sh
      - purge_packages_chef_io_fastly:{{channel}}/{{product_key}}/latest
      - built_in:promote_docker_images
      # publish to third party package managers that have a dependency
      # on this artifact's availability
      - trigger_pipeline:third-party-packages
  - workload: habitat-sh/habitat:main_completed:project_promoted:habitat-sh/habitat:main:current:*
    actions:
      - bash:.expeditor/update_habitat.sh
  - workload: buildkite_build_passed:chef/chef-workstation-app:main:release:*
    actions:
      - bash:.expeditor/update_chef-workstation-app_to_latest.sh
  - workload: chef/chef-analyze:main_completed:pull_request_merged:chef/chef-analyze:main:*
    actions:
      - bash:.expeditor/update_chef-analyze_to_latest.sh
  - workload: artifact_published:stable:chef:16*
    actions:
      # update our pinned version for chef/chef-bin in Gemfile
      - bash:.expeditor/update_chef.sh
      # update gemfile.lock and make it a PR
      - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:appbundler-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:berkshelf-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:chef-cli-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:chef-apply-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:chef-telemetry-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:chef-vault-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:chef-zero-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:cheffish-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:chefspec-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:chefstyle-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:cookbook-omnifetch-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:cookstyle-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:fauxhai-ng-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:ffi-yajl-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:inspec-bin-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-azurerm-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-digitalocean-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-dokken-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-ec2-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-google-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-hyperv-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-inspec-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-openstack-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-vagrant-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-vcenter-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:kitchen-vra-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:knife-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:libyajl2-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:license-acceptance-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-archive-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-authentication-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-cli-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-config-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-install-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-log-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-shellout-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:mixlib-versioning-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:nokogiri-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:ohai-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:test-kitchen-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:train-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-event-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-eventlog-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-ipc-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-mmap-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-mutex-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-process-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-service-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:win32-taskscheduler-*
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:wmi-lite
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: ruby_gem_published:docker-api
    actions:
       - bash:.expeditor/update_dep.sh
  - workload: pull_request_merged:chef/chef-web-docs:main:*
    actions:
    - bash:.expeditor/update_docs_lints.sh:
        only_if_modified:
          - .markdownlint.yaml
