# Documentation available at https://expeditor-docs.es.chef.io/

# The name of the product keys for this product
product_key:
  - chef-workstation

# Slack channel in Chef Software slack to send notifications about build failures, etc
slack:
  notify_channel: chef-ws-notify

github:
  # The file where the MAJOR.MINOR.PATCH version is kept. The version in this file
  # is bumped automatically via the `built_in:bump_version` merge_action.
  version_file: "VERSION"
  # The file where our CHANGELOG is kept. This file is updated automatically with
  # details from the Pull Request via the `built_in:update_changelog` merge_action.
  changelog_file: "CHANGELOG.md"
  # Delete the PR branch after successfully merged into release branch.
  delete_branch_on_merge: true
  # allow bumping the minor release via label
  minor_bump_labels:
    - "Expeditor: Bump Minor Version"

# https://expeditor.chef.io/docs/getting-started/subscriptions/#merge-actions
# The `merge_actions` key is a shortcut for the
# `pull_request_merged:<GITHUB_REPO>:<RELEASE_BRANCH>:*` subscription.
merge_actions:
  - built_in:bump_version:
      ignore_labels:
        - "Version: Skip Bump"
        - "Expeditor: Skip Version Bump"
        - "Expeditor: Skip All"
  - built_in:update_changelog:
      ignore_labels:
        - "Meta: Exclude From Changelog"
        - "Expeditor: Exclude From Changelog"
        - "Expeditor: Skip All"
  - built_in:trigger_omnibus_release_build:
      ignore_labels:
        - "Omnibus: Skip Build"
        - "Expeditor: Skip Build"
        - "Expeditor: Skip All"
      only_if: built_in:bump_version

pipelines:
  - verify:
      description: Pull Request validation tests

subscriptions:
  - workload: artifact_published:stable:chef-workstation:{{version_constraint}}
    actions:
      - built_in:rollover_changelog
      - bash:.expeditor/publish-release-notes.sh
      - bash:.expeditor/purge-cdn.sh
      - bash:.expeditor/announce-release.sh
  - workload: artifact_published:stable:chefdk:3*
    actions:
      - bash:.expeditor/update_chefdk_to_stable.sh
  - workload: chef/chef-workstation-app:master_completed:pull_request_merged:chef/chef-workstation-app:master:*
    actions:
      - bash:.expeditor/update_chef-workstation-app_to_latest.sh
