<section id="blurbs" class="padding-bottom">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-4">
        <div class="padded-medium text-center">
          <p>Define your infrastructure as code to ensure the right configurations are applied every time.</p>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="padded-medium text-center">
          <p>Automatically remediate drift by having Chef continuously converge systems against their desired state.</p>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="padded-medium text-center">
          <p>Configure servers, patch software, and manage cloud-native SaaS solutions with Chef's robust configuration language.</p>
        </div>
      </div>
    </div>
  </div>
</section>
