<section id="getting-started" class="section-overlay-dropdown padding-bottom">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <div class="overlay-dropdown">
          <button data-toggle="getting-started-dropdown" class="overlay-dropdown-bar white-text">
            <p>Get started in minutes with <strong>Chef Workstation</strong> to level up your automation.</p>
            <i class="fas fa-chevron-down dropdown-icon"></i>
          </button>
          <div id="getting-started-dropdown" class="dropdown-pane overlay-dropdown-content" data-dropdown data-parent-class="overlay-dropdown">
            <p>Chef Workstation gives you everything you need to get started with Chef today.</p>
            <ul class="bordered-items">
              <li>
                <p class="title">Effortless Workstation Setup</p>
                <p class="desc">Chef Workstation's one-click install makes it easier than ever to start automating your infrastructure.</p>
              </li>
              <li>
                <p class="title">Ad-Hoc Configuration Tasks</p>
                <p class="desc">Apply dynamic, repeatable configurations to your servers directly over SSH or WinRM.</p>
              </li>
              <li>
                <p class="title">Robust Testing & Development Tools</p>
                <p class="desc">Chef Workstation includes the full Chef Development Kit, providing tools for authoring and testing your own Chef Cookbooks.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
