<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <title>Install <%= friendly_name %></title>
</head>
<body>
<font face="Helvetica">
This package will install <b><%= friendly_name %></b>, which has everything you need to get started with Chef.
<br>
<br>
Including:
<ul>
  <li><b>chef-run:</b> Ad-hoc remote execution of Chef</li>
  <li><b>ChefDK:</b> Tools for local Chef Development</li>
</ul>
<br>
For more information please visit: <a href="https://chef.sh">https://chef.sh</a>.
</font>
</body>
</html>
